# Python
__pycache__/

# virtual environment
venv/

# PyInstaller / build artifacts
main.spec
build/
dist/

# inno
osu_compressor_iss.iss

# installer
Output/

# notes
notes.txt

# settings
settings.bak
settings.dat
settings.dir

# test
test.py